html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Fonts
---------------------------------------- */
/* Susy
---------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 70%;
  }
}

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Lato", Arial, sans-serif;
  color: #9b9b9b;
  line-height: 21px;
}

a {
  font-family: "Lato", Arial, sans-serif;
  color: #9b9b9b;
  text-decoration: none;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.2em;
  font-family: "Lato", Arial, sans-serif;
}
p.disclaimer {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.2;
  margin: 1.25rem 0rem;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

blockquote {
  margin: 0;
  font-style: italic;
}
blockquote p {
  margin: 0 !important;
}

cite {
  font-size: 1.2rem;
  font-style: normal;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.1rem;
  word-wrap: breakwork;
}

strong {
  font-weight: 700;
}

em,
i,
cite {
  font-style: italic;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

embed,
iframe,
object {
  max-width: 100%;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.fl-builder-content .fl-row-fixed-width {
  max-width: 1036px;
  max-width: 64.75rem;
}
@media (max-width: 767px) {
  .fl-builder-content .fl-row-fixed-width {
    max-width: 95%;
  }
}

img.centered,
.aligncenter {
  display: block;
  margin: 0.625rem auto 1.5rem;
}

img.alignnone {
  margin-bottom: 0.75rem;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
  margin: 0 1.5rem 1.5rem 0;
}

img.alignright,
.wp-caption.alignright {
  margin: 0 0 1.5rem 1.5rem;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  font-family: FreightSansMedium, "Lato", Arial, sans-serif;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: .33px;
  text-transform: uppercase;
  line-height: 29px;
}

.widget_calendar table {
  width: 100%;
  margin-bottom: 0;
}

.widget_calendar td,
.widget_calendar th,
.text-center {
  text-align: center;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.small-hr {
  display: block;
  max-width: 25em;
  border-top: 1px solid #D3B88B;
  margin: 1.875rem auto;
}

.mobile-only {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .mobile-only {
    display: block;
  }
}

@media (max-width: 1300px) {
  .desktop-only {
    display: none;
  }
}
